@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Katamuy Pro Font ===== */
@font-face {
  font-family: 'Katamuy Pro';
  src: url('../src/assets/fonts/KantumruyPro-Medium.woff2') format('woff2'),
       url('../src/assets/fonts/KantumruyPro-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ===== Global Style ===== */
body {
  margin: 0;
  font-family: 'Katamuy Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* ===== Tailwind Utilities ===== */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* សម្រាប់លាក់ Scrollbar តែនៅតែ Scroll បាន */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ===== Image ===== */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
